/* Ajustado background */

.screen{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

.containerRegister{
    height: 85%;
    width: 40%;
    position: fixed;
    left:10%;
    top: 10%;

    background-color: white;
    opacity: 0.7;

    border-radius: 0.8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}